@using static GameCourse.Client.Pages.Snake.SnakeGame
<div class="food" style="@InlineStyle">
    ♥
</div>

@code {
    [CascadingParameter]
    SnakeGameOptions GameOptions{ get; set; }

    [Parameter]
    public SnakeGame.Position FoodPosition{ get; set; }

    string InlineStyle = "";

    protected override void OnParametersSet()
    {
        var edgeLength = GameOptions.NodeSize - 1;
        InlineStyle = $"width:{edgeLength}px; height:{edgeLength}px; top:{FoodPosition.Y * GameOptions.NodeSize}px; left:{FoodPosition.X * GameOptions.NodeSize}px; font-size:{GameOptions.NodeSize - 1}px; line-height:{GameOptions.NodeSize - 1}px;";
        base.OnParametersSet();
    }
}