.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(30, 40px);
    grid-template-rows: repeat(30, 40px);
    gap: 1px;
}

.grid-item {
    outline: 1px solid rgb(0, 0, 0, 0.8);
}